In [7]:
#Imports

import os
import requests
import datetime as dt
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import json
import numpy as np
import yfinance as yf
from pandas_datareader import data as pdr
%matplotlib inline

In [8]:
# Load .env enviroment variables
load_dotenv()

True

In [13]:
#Download Datasets using yfinance
#gld = pdr.get_data_yahoo('GLD')
#gld = yf.download('gld', '2016-01-01', '2020-05-31')
#gld = yf.download('gld', '2000-01-01', '2020-05-31')
gld = yf.download('BTC-USD', '2016-01-01', '2022-01-06')
#gld.drop(columns = ["Open","High","Low","Adj Close","Volume"], inplace=True)
day = np.arange(1, len(gld) + 1)
gld['day'] = day
gld.drop(columns=['Adj Close', 'Volume'], inplace = True)
gld = gld[['Close']]
gld.head(-1)

[*********************100%***********************]  1 of 1 completed

                   Close
Date
2016-01-01    434.334015
2016-01-02    433.437988
2016-01-03    430.010986
2016-01-04    433.091003
2016-01-05    431.959991
...                  ...
2022-01-01  47686.812500
2022-01-02  47345.218750
2022-01-03  46458.117188
2022-01-04  45897.574219
2022-01-05  43569.003906

[2197 rows x 1 columns]

In [26]:
#Import data using pandas_datareader

#Import Traditional Asset Data

def getData(assets, start, end):
    assetData = pdr.get_data_yahoo(assets, start=startDate, end=endDate)
    assetData = assetData['Close']
    return assetData

assetList = ['^GSPC', '^DJI', '^TNX', 'BND']

endDate = dt.datetime.now()
startDate = '2010-01-01'

print(getData(assets=assetList, start=startDate, end=endDate))

Symbols           ^GSPC          ^DJI   ^TNX        BND
Date
2010-01-04  1132.989990  10583.959961  3.841  78.680000
2010-01-05  1136.520020  10572.019531  3.755  78.910004
2010-01-06  1137.140015  10573.679688  3.808  78.879997
2010-01-07  1141.689941  10606.860352  3.822  78.820000
2010-01-08  1144.979980  10618.190430  3.808  78.900002
...                 ...           ...    ...        ...
2022-01-03  4796.560059  36585.058594  1.628  84.180000
2022-01-04  4793.540039  36799.648438  1.668  84.169998
2022-01-05  4700.580078  36407.109375  1.705  83.879997
2022-01-06  4696.049805  36236.468750  1.733  83.790001
2022-01-07  4677.029785  36231.660156  1.771  83.559998

[3026 rows x 4 columns]